.details {
  width: 100%;
  height: 250px;
  background-color: #171a29;
  color: white;
}

.details .container-x {
  width: 80%;
  margin: auto !important;
  padding: 40px 0px !important;
  display: flex;
}

.details .img img {
  width: 250px;
}
.details .text-x {
  padding: 40px 20px !important;
}
.details .text-x p {
  margin: 10px 0px 10px 0px !important;
}
.details .text-y {
  display: flex;
}

.details .text-y .block {
  display: block;
  margin: 10px 20px 10px 0px !important;
}
.details .text-y p {
  margin: 10px 0px 10px 0px !important;
  font-weight: 800;
}

/* ~~~~~~~~~~food~~~~~~~~~~~~~~~~ */
.both-content {
    display: flex;
    justify-content: space-between;
        width: 80%;
        margin: auto !important;
}
.flex-item{
}
.food {
  margin: auto !important;
  color: #282c3f;
}
.food .content-food {
  width: 45%;
  margin: auto !important;
  padding: 20px !important;
}
.food .container-food {
  display: flex;
}
.food .left-x {
  width: 90%;
  padding: 0px 80px 0px 0px !important;
}
.food .right-y {
  /* background : blue; */
  width: 300px;
  width: 10%;
  padding: 0px 10px 0px 0px !important;
}
.food .right-y img {
  width: 140px;
  height : 100px;
  border-radius: 20px;
}
.food .right-y button {
  border: 1px solid #7d7d7e;
  width: 70px;
  padding: 10px !important;
  background: white;
  color: rgb(95, 230, 113);
  text-align: center;
  position: relative;
  top: -29px;
  left: 23px;
  font-weight: 800;
  text-transform: uppercase;
  overflow: hidden;
}
.food hr {
  margin-top: 20px !important;
}
.clear-div{
  clear : both;
}

/* ~~~~~~~~~~~Cart~~~~~~~~~~~~~~~ */
.cart{
  color:#171a29;
  width : 28%;
}
.cart img{
  width : 200px;
}
.cart h1 {
  font-size: 39px;
}
.cart p{
  font-size: 18px;
}